# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Local databases & artifacts
*.db
*.sqlite
*.sqlite3
models_generated.py
alembic/
mdm.ini
